/* Base styles */
@font-face {
	font-family: "Limkin";
	src: url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.ttf") format(truetype),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff") format(woff),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff2") format(woff2);
	font-weight: 100 900;
}
:root {
	--black: black;
	--offwhite: #eee;
	--almostwhite: #f5f5f5;
	--white: white;
	--pink: #ff0055;
	--yellow: #ffd400;
	--green: #00ff80;
	--blue: #2b00ff;
	--nav-height: 75px;
	--box-shadow: 5px 5px 5px rgba(154,160,185,.05), 10px 10px 10px rgba(166,173,201,.2);
	--background: linear-gradient(145deg, var(--white), var(--almostwhite));
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Limkin", sans-serif;
}
img, video, iframe {
	max-width: 100%;
	display: block;
}
body {
	background-color: var(--offwhite);
	background-attachment: fixed;
	background-image: url('/assets/ui/grid.svg');
	background-size: 2.5vw;
	color: var(--black);
	font-weight: 300;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-size: 16px;
	line-height: 1.3em;
	letter-spacing: -0.01em;
	will-change: background-position-y;
}
@media only screen and (max-width: 1000px) {
	body {
		background-size: 5vw;
	}
}
@media only screen and (max-width: 600px) {
	body {
		background-size: 10vw;
	}
}

/* Homepage */
.home-items {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.home-item {
	position: absolute;
	top: 50%;
	left: 50%;
	width: max(11vw, 160px);
	cursor: pointer;
}
.home-item:hover {
	z-index: 99999 !important;
}
.home-item-cursor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1);
	filter: drop-shadow(5px 5px 5px rgba(154,160,185,.1));
	z-index: 9;
}
.home-item-cursor svg {
	width: max(2.5vw, 40px);
	height: max(2.5vw, 40px);
	flex-shrink: 0;
	fill: var(--black);
	stroke-width: 5px;
	stroke: var(--white);
}
/* .home-item-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 4;
	background-color: white;
	top: 0;
	left: 0;
	border-radius: 10px;
	transition: transform .5s;
}
.home-item:hover .home-item-overlay {
	transform: scale(1.1);
} */
.home-item-media {
	align-self: 4/3;
	box-shadow: var(--box-shadow);
	padding: 10px;
	background: var(--background);
	border-radius: 10px;
	transition: transform .5s;
	-webkit-perspective: 1000;
}
@media only screen and (max-width: 600px) {
	.home-item-media {
		padding: 5px;
	}
}
.home-item-media-content {
	opacity: 0;
	width: 100%;
	box-shadow: var(--box-shadow);
	border-radius: 5px;
	transition: transform .5s;
}
.home-item:hover .home-item-media {
	transform: scale(1.1);
}
.home-item:hover .home-item-media-content {
	transform: scale(1.05);
}
.home-item:active .home-item-media {
	transform: scale(1);
}
.home-item:active .home-item-media-content {
	transform: scale(0.9);
}
.home-title {
	z-index: 99999;
	font-size: max(2.5vw, 28px);
	line-height: 1.1em;
	letter-spacing: -0.04em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 20px .25em 20px;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	display: flex;
	flex-wrap: wrap;
	gap: .2em 15px;
	justify-content: space-between;
	text-wrap: balance;
	animation: fade-in .5s forwards;
}
.home-title-link {
	white-space: nowrap;
	text-decoration: none;
	color: var(--pink);
	transition: color .5s, letter-spacing .5s;
}
.home-title-link:hover {
	letter-spacing: .1em;
	color: var(--black);
}
.home-title-link:active {
	letter-spacing: -0.04em;
	color: var(--black);
}

/* Nav */
.nav-padding {
	padding-top: var(--nav-height);
}
.nav {
	position: relative;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	padding: 20px;
	gap: 5px;
}
.nav[data-inactive="1"] {
	pointer-events: none;
}
.nav-logo {
	white-space: nowrap;
	text-decoration: none;
	background-color: var(--pink);
	border-radius: 50px;
	color: var(--white);
	box-shadow: var(--box-shadow);
	font-size: 16px;
	line-height: 1em;
	letter-spacing: -0.02em;
	padding: calc(8px + .2em) 16px 8px 16px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	transition: background-color .5s, letter-spacing .5s, opacity .2s;
}
.nav-logo:hover {
	background-color: var(--black);
	letter-spacing: .1em;
}
.nav-logo:active {
	letter-spacing: unset;
}
.nav-links {
	display: flex;
	align-items: center;
	gap: 5px;
}
.nav-link {
	text-decoration: none;
	background-color: var(--black);
	border-radius: 50px;
	color: var(--white);
	box-shadow: var(--box-shadow);
	font-size: 16px;
	line-height: 1em;
	letter-spacing: -0.02em;
	padding: calc(8px + .2em) 16px 8px 16px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	transition: background-color .5s, letter-spacing .5s, padding-left .5s;
}
.nav-link:hover {
	background-color: var(--pink);
	letter-spacing: .2em;
	padding-left: calc(16px + .2em);
}
.nav-link:active {
	letter-spacing: -0.01em;
	padding-left: 16px;
}
.nav-menu-open {
	text-decoration: none;
	background-color: var(--black);
	border-radius: 50px;
	color: var(--white);
	box-shadow: var(--box-shadow);
	font-size: 16px;
	line-height: 1em;
	letter-spacing: -0.02em;
	padding: calc(8px + .2em) 16px 8px 16px;
	display: none;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	border: unset;
	cursor: pointer;
	transition: background-color .5s, letter-spacing .5s, padding-left .5s;
}
.nav-menu-open:hover {
	background-color: var(--pink);
	letter-spacing: .2em;
	padding-left: calc(16px + .2em);
}
.nav-menu-open:active {
	letter-spacing: -0.01em;
	padding-left: 16px;
}
.nav-menu-close {
	text-decoration: none;
	background-color: var(--pink);
	border-radius: 50px;
	color: var(--white);
	box-shadow: var(--box-shadow);
	font-size: 24px;
	line-height: 1em;
	padding: calc(8px + .2em) 16px 8px 16px;
	display: none;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	border: unset;
	cursor: pointer;
	transition: background-color .5s, opacity .5s;
}
.nav-menu-close:hover {
	background-color: var(--black);
}
.nav-menu-close:active {
	opacity: .25;
}
@media only screen and (max-width: 390px) {
	.nav {
		justify-content: space-between;
		right: 0;
	}
	.nav-menu-open {
		display: flex;
	}
	.nav-menu-close {
		display: flex;
	}
	.nav-links {
		position: fixed;
		top: 0;
		left: 0;
		flex-direction: column;
		width: 100vw;
		height: 100dvh;
		align-items: end;
		justify-content: start;
		background-color: rgba(255,255,255,.5);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		padding: 20px;
		display: none;
		transition: opacity .25s;
	}
	.nav-links[data-transition="1"] {
		opacity: 0;
	}
	.nav-links[data-active="1"] {
		display: flex;
	}
	.nav-link {
		font-size: 24px;
	}
}

/* Work */
.work {
	min-height: 100dvh;
	padding-bottom: max(5vw, 20px);
}

/* Work nav */
.work-filters {
	align-items: center;
	display: flex;
	z-index: 10;
	margin: 0 auto;
	padding: 20px 40px;
	background: var(--background);
	border-radius: 40px;
	gap: 40px;
	position: sticky;
	overflow-x: scroll;
	max-width: calc(100vw - max(5vw, 20px));
	bottom: max(3.75vw, 10px);
	width: min-content;
	white-space: nowrap;
	box-shadow: var(--box-shadow);
	transition: opacity .5s;
	animation: fade-in .5s forwards;
}
.work-filters[data-transition="1"] {
	opacity: .25;
}
.work-filters[data-transition="1"] .work-filters-toggle {
	pointer-events: none;
}
.work-filters::-webkit-scrollbar {
	display: none;
}
.work-filters-toggle {
	display: flex;
	line-height: 1em;
	letter-spacing: -0.01em;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	font-size: 16px;
	line-height: 1em;
	text-align: center;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	color: var(--black);
	background: unset;
	border: unset;
	font-family: inherit;
	transition: color .5s, fill .5s, letter-spacing .5s, opacity .5s, padding-left .5s;
	fill: var(--black);
}
.work-filters-toggle svg {
	width: 1em;
	height: 1em;
}
.work-filters-toggle span {
	padding-top: .2em;
	transition: padding-left .2s;
}
.work-filters-toggle:hover {
	letter-spacing: .2em;
}
.work-filters-toggle span {
	padding-left: .2em;
	font-size: 0;
	transition: font-size .5s;
}
.work-filters:hover .work-filters-toggle span {
	font-size: inherit;
}
.work-filters-toggle:active {
	letter-spacing: -.01em;
}
.work-filters-toggle[data-active="1"] {
	color: var(--pink);
	fill: var(--pink);
}
.work-filters-toggle:hover .work-filters-toggle[data-active="1"] {
	letter-spacing: .2em;
	padding-left: .2em;
}
.work-filters-toggle:active .work-filters-toggle[data-active="1"] {
	letter-spacing: 0em;
	padding-left: .2em;
}
@media only screen and (max-width: 800px) {
	.work-filters {
		max-width: calc(100vw - 40px);
		gap: 20px;
		padding: 20px;
	}
}
@media only screen and (max-width: 600px) {
	.work-filters-toggle span {
		font-size: inherit;
	}
}

/* Work items */
.work-items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	padding: max(5vw, 20px);
	padding-top: calc(var(--nav-height) + max(5vw, 20px));
	gap: max(5vw, 20px);
	overflow: hidden;
	align-items: start;
}
.work-item {
	color: var(--black);
	text-decoration: none;
	opacity: 0;
}
.work-item[data-initialized="1"] {
	opacity: 1;
}
.work-item[data-transition="1"] {
	transition: transform .2s;
	transform: scale(0);
}
.work-item[data-active="0"] {
	display: none;
}
.work-item-content {
	position: relative;
}
.work-item-media {
	background: var(--background);
	position: relative;
	z-index: 1;
	transition: transform .5s;
	padding: 20px;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
}
.work-item-media[data-active="1"] {
	background: var(--background);
}
.work-item-media-content {
	aspect-ratio: 4/3;
	width: 100%;
	opacity: 0;
	border-radius: 5px;
	transition: transform .5s, opacity .5s;
	box-shadow: var(--box-shadow);
}
.work-item-media[data-active="1"] .work-item-media-content {
	opacity: 1;
	filter: unset;
}
.work-item:hover .work-item-media {
	transform: scale(1.1);
}
.work-item:hover .work-item-media-content {
	transform: scale(1.05);
}
.work-item:active .work-item-media {
	transform: scale(1);
}
.work-item:active .work-item-media-content {
	transform: scale(0.9);
}
.work-item-cursor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	transition: transform .5s cubic-bezier(0.5, 0, 0.75, 0);
	filter: drop-shadow(0 5px 10px rgba(154,160,185,.05)) drop-shadow(0 15px 40px rgba(166,173,201,.2));
}
.work-item-cursor svg {
	width: max(2.5vw, 40px);
	height: max(2.5vw, 40px);
	flex-shrink: 0;
	fill: var(--black);
	stroke-width: 5px;
	stroke: var(--white);
}
.work-item-info {
	padding-top: 20px;
	max-width: 400px;
	font-size: 16px;
	transition: transform .5s, color .5s;
}
.work-item:hover .work-item-info {
	transform: translateY(10px);
	color: var(--pink);
}
.work-item:active .work-item-info {
	transform: translateY(0);
	color: rgba(0,0,0,.25);
}
.work-item-info h2 {
	text-wrap: balance;
	font-size: inherit;
	letter-spacing: -0.01em;
	line-height: 1.3em;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	opacity: 0;
	transition: opacity .5s;
}
.work-item-info[data-active="1"] h2 {
	opacity: 1;
}
.work-item[data-direct="1"] .work-item-info h2::after {
	content: " ↗";
}
.work-item-info p {
	opacity: 0;
	margin-top: 10px;
	text-wrap: balance;
	letter-spacing: -0.01em;
	line-height: 1.3em;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 300;
	transition: opacity .5s .1s;
}
.work-item-info[data-active="1"] p {
	opacity: 1;
}
.work-item-info ul {
	margin-top: 15px;
	display: flex;
	gap: 8px 10px;
	list-style: none;
	flex-wrap: wrap;
	padding-right: 20px;
	transition: opacity .5s .2s;
	opacity: 0;
}
.work-item-info[data-active="1"] ul {
	opacity: 0.5;
}
.work-item-info ul li {
	white-space: nowrap;
	display: flex;
	gap: .5em;
	letter-spacing: .15em;
	text-transform: uppercase;
	align-items: center;
	line-height: 1em;
	word-spacing: -.05em;
	white-space: nowrap;
	font-variation-settings: "wght" 400, "SRFF" 0;
	font-weight: 400;
	font-size: 10px;
	line-height: 1em;
}
@media only screen and (max-width: 1800px) {
	.work-items {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media only screen and (max-width: 1200px) {
	.work-items {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (max-width: 700px) {
	.work-items {
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
	}
}

/* Project */
.project {
	padding: max(2.5vw, 10px) max(5vw, 20px) max(5vw, 20px) max(5vw, 20px);
	display: grid;
	grid-template-columns: 420px 2fr;
	gap: max(5vw, 20px);
	align-items: start;
	position: relative;
}

/* Project info */
.project-info {
	position: sticky;
	top: calc(var(--nav-height) + max(2.5vw, 10px));
	background: var(--background);
	box-shadow: var(--box-shadow);
	padding: clamp(20px, 5vw, 40px) clamp(20px, 5vw, 40px);
	border-radius: 10px;
	animation: fade-in .5s forwards;
}
.project-title {
	font-size: 24px;
	line-height: 1.2em;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	letter-spacing: -0.03em;
	text-wrap: balance;
}
.project-tagline {
	font-size: 24px;
	line-height: 1.2em;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 300;
	letter-spacing: -0.03em;
	text-wrap: pretty;
}
.project-desc {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;
	font-size: 16px;
	line-height: 1.3em;
	text-wrap: pretty;
	letter-spacing: -0.01em;
	font-weight: 300;
	font-variation-settings: "wght" 300, "SRFF" 0;
}
.project-desc a {
	color: var(--pink);
	text-decoration: none;
}
.project-desc a::after {
	content: " ↗";
	margin-right: .1em;
}
.project-desc a:hover {
	color: var(--black);
}
.project-desc a:active {
	opacity: .5;
}
.project-links {
	margin-top: 20px;
	display: flex;
	white-space: nowrap;
	align-items: start;
	flex-direction: column;
	gap: 8px;
}
.project-link {
	box-shadow: var(--box-shadow);
	display: inline-flex;
	border-radius: 30px;
	gap: .5em;
	color: var(--white);
	padding: calc(8px + .2em) 16px 8px 16px;
	font-size: 16px;
	line-height: 1em;
	text-decoration: none;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	letter-spacing: -0.02em;
	background-color: var(--pink);
	transition: background-color .5s, letter-spacing .5s, color .5s, padding-left .5s;
}
.project-link:hover {
	background-color: var(--black);
	letter-spacing: .1em;
	padding-left: calc(16px + .1em);
}
.project-link:active {
	letter-spacing: 0;
	padding-left: 16px;
}

/* Project media */
.project-media {
	display: grid;
	grid-template-columns: 1fr;
	gap: max(2.5vw, 20px);
	animation: fade-in .5s forwards;
}
.project-media-item {
	display: grid;
	grid-template-columns: 1fr 180px;
	align-items: start;
	position: relative;
	gap: 20px;
}
.project-media-item-content {
	position: relative;
	background: var(--background);
	z-index: 9;
	box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: #f5f5f5;
	padding: 20px;
	z-index: 1;
}
.project-media-item-content > * {
	width: 100%;
	border-radius: 5px;
	box-shadow: var(--box-shadow);
}
.project-media-item-content iframe {
	width: 100%;
}
.project-media-item-caption {
	padding: 20px 0;
	max-width: 400px;
	transition: transform .5s;
	position: sticky;
	top: calc(var(--nav-height) + max(2.5vw, 10px));
}
.project-media-item[data-active="0"] .project-media-item-caption {
	transform: translateX(calc(-100% - 20px));
}
.project-media-item-caption-content {
	max-width: 640px;
	gap: 10px;
	font-size: 14px;
	line-height: 1.3em;
	letter-spacing: -0.01em;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 300;
	text-wrap: pretty;
	border-radius: 10px;
}
@media only screen and (max-width: 600px) {
	.project-media-item-caption {
		padding: 0;
	}
}

/* Project list (more projects) */
.project-list {
	animation: fade-in .5s forwards;
	background: linear-gradient(to top, transparent 0%, rgba(0,0,0,.1) 100%);
}
.project-list-title {
	padding-top: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.project-list-title span {
	display: inline-block;
}
.project-list-title a {
	text-align: center;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	padding: calc(20px + .2em) 40px 20px 40px;
	font-size: max(2.5vw, 32px);
	line-height: 1em;
	letter-spacing: -0.04em;
	background-color: var(--black);
	color: var(--white);
	text-decoration: none;
	border-radius: 200px;
	transition: background-color .5s, letter-spacing .5s, padding .5s;
}
.project-list-title a:hover {
	background-color: var(--pink);
	letter-spacing: .1em;
	padding-left: calc(40px + .1em);
}
.project-list-title a:active {
	padding-left: 40px;
	letter-spacing: -0.03em;
}
.project-list-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
	gap: max(5vw, 20px);
	padding: max(5vw, 40px) max(5vw, 20px) max(5vw, 20px) max(5vw, 20px);
}
.project-list-link-container {
	
}
.project-list-link {
	display: block;
	transition: transform .5s;
	box-shadow: var(--box-shadow);
	padding: 10px;
	border-radius: 10px;
	background: var(--background);
}
@media only screen and (max-width: 600px) {
	.project-list-link {
		padding: 5px;
	}
}
.project-list-link img, .project-list-link video {
	width: 100%;
	aspect-ratio: 4/3;
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	transition: transform .5s;
}
.project-list-link:hover img,
.project-list-link:hover video {
	transform: scale(1.05);
}
.project-list-link:active img,
.project-list-link:active video {
	transform: scale(0.9);
}
.project-list-link:hover {
	transform: scale(1.15);
}
.project-list-link:active {
	transform: scale(0.9);
}
@media only screen and (max-width: 1300px) {
	.project {
		grid-template-columns: 360px 1fr;
	}
	.project-media-item {
		grid-template-columns: 1fr;
	}
	.project-media-item[data-active="0"] .project-media-item-caption {
		transform: unset;
	}
}
@media only screen and (max-width: 800px) {
	.project {
		grid-template-columns: 1fr;
	}
	.project-info {
		position: static;
	}
}

/* Video controls */
.video-controls {
	position: absolute;
	z-index: 1;
	padding: 10px 10px 10px 10px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	width: calc(100% - 40px);
	display: flex;
	gap: 10px;
	opacity: 0;
	transition: opacity .2s;
	border-radius: 0 0 5px 5px;
	background-color: transparent;
}
.video-controls-background {
	position: absolute;
	z-index: -1;
	pointer-events: none;
	top: -80px;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 0 0 5px 5px;
	background: linear-gradient(to top, rgba(0,0,0,.3) 0%, transparent 100%)
}
.project-media-item-content:hover .video-controls {
	opacity: 1;
}
.video-controls button {
	width: 50px;
	height: 30px;
	border: unset;
	background-color: var(--black);
	fill: var(--white);
	cursor: pointer;
	transition: background-color .2s, fill .2s, opacity .2s, border-color .2s;
	border-radius: 2.5px;
	border: .5px solid #333;
}
.video-controls button svg {
	width: 50px;
	height: 30px;
	padding: 5px;
}
.video-controls button div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.video-controls button:hover {
	background-color: var(--pink);
	border-color: var(--pink);
}
.video-controls button:active {
	opacity: .5;
}
.video-controls-toggle[data-playing="true"] .video-controls-toggle-play {
	display: none;
}
.video-controls-toggle[data-playing="false"] .video-controls-toggle-pause {
	display: none;
}
.video-controls-volume[data-muted="true"] .video-controls-volume-mute {
	display: none;
}
.video-controls-volume[data-muted="false"] .video-controls-volume-unmute {
	display: none;
}
.video-controls input {
	flex-grow: 1;
	-webkit-appearance: none;
	appearance: none;
	height: 30px;
	padding: 5px 10px;
	cursor: pointer;
	background-color: unset;
	border-radius: 2.5px;
	background-color: var(--black);
	transition: background-color .2s, border-color .2s;
	border: .5px solid #333;
}
.video-controls input:hover {
	background-color: var(--pink);
	border-color: var(--pink);
}
.video-controls input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 4px;
	height: 13px;
	background: var(--white);
	cursor: pointer;
	box-shadow: var(--box-shadow);
	transition: background-color .2s;
}
.video-controls input::-moz-range-thumb {
	width: 1px;
	height: 20px;
	background: var(--white);
	box-shadow: var(--box-shadow);
	cursor: pointer;
	border-radius: 2.5px;
	transition: background-color .2s;
}
.video-controls input:hover::-webkit-slider-thumb {
	/* background-color: var(--black); */
}
.video-controls input:hover::-moz-range-thumb {
	/* background-color: var(--black); */
}

/* Footer */
.footer {
	background: linear-gradient(to top, transparent, var(--almostwhite));
	padding: max(5vw, 20px);
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 300;
	display: flex;
	gap: max(5vw, 20px);
	align-items: center;
	justify-content: center;
	border-radius: 25vw 25vw 0 0;
	animation: fade-in .5s forwards;
}
.footer-clock {
	background: var(--background);
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: relative;
	box-shadow: var(--box-shadow);
}
.footer-clock-hand {
	width: 50%;
	right: 50%;
	height: .5px;
	position: absolute;
	top: 50%;
	transform-origin: 100%;
	transform: rotate(90deg);
	background-color: var(--black);
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.footer-clock-hand.hour-hand {
	width: 20%;
	z-index: 3;
}
.footer-clock-hand.min-hand {
	z-index: 10;
	width: 35%;
}
.footer-clock-hand.second-hand {
	width: 45%;
	background-color: var(--pink);
}
.footer-info {
	font-size: 16px;
	line-height: 1.3em;
	letter-spacing: -0.01em;
}
.footer-info strong {
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
}
.footer-info a {
	text-decoration: none;
	color: var(--pink);
}
.footer-info a:hover {
	color: var(--black);
}
.footer-info a:active {
	opacity: .5;
}
@media only screen and (max-width: 600px) {
	.footer {
		border-radius: 50vw 50vw 0 0;
		flex-direction: column;
		text-align: center;
	}
}

/* Transition between pages */
.page-content {
	display: contents;
}
.transition-parent {
	display: contents;
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Info */
.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: max(10vw, 80px);
	padding-top: max(5vw, 20px);;
	padding-bottom: max(10vw, 80px);
	animation: fade-in .5s forwards;
	overflow: hidden;
}

/* Info intro logo */
.info-intro-logo {
	font-size: 20.9vw;
	white-space: nowrap;
	line-height: 1em;
	font-weight: 600;
	font-variation-settings: "wght" 600, "SRFF" 0;
	letter-spacing: -0.07em;
	color: var(--pink);
	margin-bottom: -.05em;
	transform: translateX(-.065em);
	display: flex;
	position: relative;
	z-index: 1;
}
.info-intro-logo-letter {
	position: relative;
	transition: transform 1s;
	font-size: inherit;
}
.info-intro-logo-letter-text {
	display: inline-block;
	font-size: inherit;
	transition: background .5s, box-shadow .5s, color .5s;
}
.info-intro-logo-letter[data-state="0"] {
	color: transparent;
	background: var(--background);
	box-shadow: var(--box-shadow);
	border-radius: 20px;
}
.info-intro-logo-letter-cursor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1);
	filter: drop-shadow(5px 5px 5px rgba(154,160,185,.1));
	z-index: 9;
}
.info-intro-logo-letter-cursor svg {
	width: max(2.5vw, 24px);
	height: max(2.5vw, 24px);
	flex-shrink: 0;
	fill: var(--black);
	stroke-width: 5px;
	stroke: var(--white);
}

/* Info intro */
.info-intro {
	width: 100%;
	padding: var(--nav-height) max(5vw, 20px) 0 max(5vw, 20px);
}
.info-intro-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	align-items: end;
}
.info-intro-title {
	max-width: 640px;
	border-radius: 20px;
	background: var(--background);
	box-shadow: var(--box-shadow);
	font-size: 24px;
	padding: 40px;
	line-height: 1.2em;
	font-variation-settings: "wght" 250, "SRFF" 0;
	font-weight: 250;
	letter-spacing: -0.03em;
	text-wrap: pretty;
}
.info-intro-title strong {
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
}
.info-intro-title sup {
	background-color: var(--black);
	color: var(--white);
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	font-size: 8px;
	line-height: 0;
	width: 16px;
	display: inline-flex;
	height: 16px;
	letter-spacing: 0;
	text-align: center;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	transform: translateY(-.3em);
}
.info-intro-title sup span {
	padding-top: .2em;
	font-size: 8px;
}
.info-intro-title a {
	color: var(--pink);
	text-decoration: none;
}
.info-intro-title a:hover {
	color: var(--black);
}
.info-intro-title a:active {
	opacity: .25;
}
.info-intro-references {
	justify-self: end;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.info-intro-reference {
	display: grid;
	grid-template-columns: 16px 1fr;
	align-items: start;
	gap: 20px;
	letter-spacing: 0;
}
.info-intro-reference-number {
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	font-size: 8px;
	height: 16px;
	width: 16px;
	background-color: var(--black);
	color: var(--white);
	border-radius: 50%;
	line-height: 0;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.info-intro-reference-number span {
	padding-top: .2em;
	font-size: 8px;
}
.info-intro-reference-content {
	font-size: 16px;
	line-height: 1.3em;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 300;
	letter-spacing: -0.01em;
	text-wrap: pretty;
}
.info-intro-reference-content a {
	text-decoration: none;
	color: var(--pink);
}
.info-intro-reference-content a:hover {
	color: var(--black);
}
.info-intro-reference-content a:active {
	opacity: .25;
}
@media only screen and (max-width: 1000px) {
	.info-intro-logo {
		margin-bottom: 20px;
	}
	.info-intro-content {
		grid-template-columns: 2fr 1fr;
	}
	.info-intro-title {
		max-width: unset;
	}
	.info-intro-references {
		justify-self: unset;
		max-width: unset;
	}
}
@media only screen and (max-width: 800px) {
	.info-intro-content {
		grid-template-columns: 1fr;
	}
}
@media only screen and (max-width: 600px) {
	.info-intro-title {
		padding: 20px;
		font-size: 20px;
	}
}

/* Info sections */
.info-section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	gap: 40px;
	padding: 0 max(5vw, 20px);
	gap: max(5vw, 40px);
}
.info-section-title {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	padding: calc(20px + .2em) 40px 20px 40px;
	font-size: max(2.5vw, 32px);
	line-height: 1em;
	letter-spacing: -0.04em;
	background-color: var(--black);
	color: var(--white);
	text-decoration: none;
	border-radius: 200px;
}
.info-section-content {
	box-shadow: var(--box-shadow);
	padding: 80px;
	background: var(--background);
	border-radius: 20px;
	max-width: max(50vw, 1000px);
	font-size: max(1.5vw, 24px);
	line-height: 1.2em;
	letter-spacing: -0.04em;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 300;
	text-wrap: pretty;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.2em;
}
.info-section-content strong {
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
}
.info-section-content a {
	color: var(--pink);
	text-decoration: none;
}
.info-section-content a:hover {
	color: var(--black);
}
.info-section-content a:active {
	opacity: .25;
}
.info-cta {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	padding: calc(20px + .2em) 40px 20px 40px;
	font-size: max(2.5vw, 32px);
	line-height: 1em;
	letter-spacing: -0.04em;
	text-decoration: none;
	background-color: var(--pink);
	color: var(--white);
	text-decoration: none;
	border-radius: 200px;
	transition: background-color .5s, letter-spacing .5s, padding .5s;
}
.info-cta:hover {
	background-color: var(--black);
	letter-spacing: .1em;
	padding-left: calc(40px + .1em);
}
.info-cta:active {
	padding-left: 40px;
	letter-spacing: -0.03em;
}

/* Info services */
.info-services {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: max(5vw, 20px);
}
.info-service {
}
.info-service-media {
	width: 100%;
	border-radius: 20px;
	padding: 20px;
	background: var(--background);
	box-shadow: var(--box-shadow);
}
.info-service-media-content {
	width: 100%;
	border-radius: 5px;
	box-shadow: var(--box-shadow);
}
.info-service-title {
	padding-top: 20px;
	max-width: 400px;
	font-size: 16px;
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: inherit;
	text-wrap: balance;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
}
.info-service-title svg {
	fill: var(--pink);
	flex-shrink: 0;
	height: 1.1em;
	transition: transform .2s;
}
.info-service-title span {
	padding-top: .2em;
}
.info-service-content {
	margin-top: 10px;
	max-width: 400px;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-wrap: pretty;
}
.info-service-content a {
	color: var(--pink);
	text-decoration: unset;
	text-underline-offset: .2em;
}
.info-service-content a:hover {
	color: var(--black);
}
.info-service-content a:active {
	opacity: .25;
}
@media only screen and (max-width: 1800px) {
	.info-services {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media only screen and (max-width: 1200px) {
	.info-services {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (max-width: 700px) {
	.info-services {
		grid-template-columns: 1fr;
		gap: max(5vw, 20px);
	}
}

/* Info bio */
.info-bio {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: max(5vw, 20px);
	align-items: start;
	line-height: 1.2em;
	letter-spacing: -0.04em;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 300;
	text-wrap: pretty;
	max-width: 1000px;
}
.info-bio-image {
	box-shadow: var(--box-shadow);
	width: 100%;
	border-radius: 20px;
	padding: 20px;
	background: var(--background);
}
.info-bio-image-content {
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	width: 100%;
}
.info-bio-title {
	font-size: 24px;
	line-height: 1.2em;
	font-variation-settings: "wght" 275, "SRFF" 0;
	font-weight: 275;
	letter-spacing: -0.03em;
	text-wrap: balance;
}
.info-bio-title strong {
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
}
.info-bio-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: 16px;
	line-height: 1.3em;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 300;
	letter-spacing: -0.01em;
}
.info-bio-content a {
	text-decoration: none;
	color: var(--pink);
}
.info-bio-content a:hover {
	color: var(--black);
}
.info-bio-content a:active {
	opacity: .25;
}
@media only screen and (max-width: 600px) {
	.info-bio {
		grid-template-columns: 1fr;
		gap: 40px;
	}
	.info-bio-title {
		font-size: 24px;
	}
	.info-bio-content {
		font-size: 16px;
	}
}