/* Base styles */
@font-face {
	font-family: "Limkin";
	src: url("/assets/fonts/limkin.ttf");
	font-weight: 100 900;
}
:root {
	--black: black;
	--gray: hsl(0deg, 0%, 80%);
	--border: .5px solid var(--gray);
	--offwhite: #fafafa;
	--white: white;
	--pink: #ff0055;
	--yellow: #ffd400;
	--green: #00ff80;
	--blue: #2b00ff;
	--unit: 5vw;
}
@media only screen and (max-width: 600px) {
	:root {
		--unit: 7vw;
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Limkin", sans-serif;
}
img, video, iframe {
	max-width: 100%;
	display: block;
}
body {
	background-color: var(--offwhite);
	background-attachment: fixed;
	background-image: url('/assets/ui/grid.svg');
	background-size: 20px;
	color: var(--black);
	font-weight: 350;
	font-variation-settings: "wght" 350, "SRFF" 0;
	font-size: 18px;
	line-height: 1.4em;
}
.home {
	padding-bottom: 40px;
}

/* Logo */
.logo {
	position: relative;
	overflow: hidden;
	padding: var(--unit) 0 var(--unit) calc(var(--unit) * .7);
	font-size: 21vw;
	margin-bottom: -7vw;
	line-height: 1em;
	letter-spacing: -0.07em;
	display: flex;
	font-variation-settings: "wght" 600, "SRFF" 0;
}
.logo-letter {
	color: var(--offwhite);
	-webkit-text-stroke: .5px var(--gray);
	outline: var(--border);
	display: inline-block;
	position: relative;
	--primary: var(--pink);
	cursor: crosshair;
	background-color: var(--offwhite);
}
.logo-letter[data-color="0"] {
	--primary: var(--pink);
}
.logo-letter[data-color="1"] {
	--primary: var(--green);
}
.logo-letter[data-color="2"] {
	--primary: var(--blue);
}
.logo-letter[data-color="3"] {
	--primary: var(--yellow);
}
.logo-letter[data-out="1"] {
	color: var(--primary);
	background-color: unset;
	transition: transform .2s, filter .2s;
	transform: unset;
	outline: unset;
}
.logo-cursor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
.logo-cursor svg {
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	fill: var(--black);
}
@media only screen and (max-width: 1200px) {
	.logo {
		margin-bottom: unset;
		padding: calc(var(--unit) * 1.5) 0 var(--unit) calc(var(--unit) * .7);
	}
}
@media only screen and (max-width: 800px) {
	.logo-cursor svg {
		width: 20px;
		height: 20px;
	}
}
@media only screen and (max-width: 500px) {
	.logo {
		font-size: 20vw;
		padding: calc(var(--unit) * 1.5) 0 var(--unit) calc(var(--unit) * .8);
	}
}

/* Home header */
.home-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0 var(--unit);
	gap: var(--unit);
}
.home-header-intro {
	grid-column: 1 / 3;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: start;
	font-size: 24px;
	position: relative;
	z-index: 1;
}
.home-header-desc {
	line-height: 1.3em;
	max-width: 640px;
	text-wrap: pretty;
	letter-spacing: -0.05em;
	font-variation-settings: "wght" 250, "SRFF" 0;
}
.home-header-desc sup {
	padding-left: 2px;
	line-height: 1em;
	letter-spacing: 0px;
	display: inline-flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: var(--black);
	transform: translateY(-.3em);
	font-size: 10px;
	font-variation-settings: "wght" 550, "SRFF" 0;
}
.home-header-links {
	display: flex;
	gap: 10px;
}
.home-header-cta {
	flex-shrink: 0;
	border: var(--border);
	background-color: var(--pink);
	padding: 10px 20px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-decoration: none;
	color: var(--white);
	line-height: 1em;
	letter-spacing: -0.03em;
	font-variation-settings: "wght" 300, "SRFF" 0;
}
.home-header-cta-alt {
	background-color: var(--offwhite);
	color: var(--black);
}
.home-header-cta-text {
	padding-top: .2em;
}
.home-header-cta:hover {
	color: var(--white);
	background-color: var(--black);
}
.home-header-cta:active {
	opacity: .5;
}
.home-header-references {
	max-width: 320px;
	grid-column: 3 / 4;
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: 14px;
	line-height: 1.2em;
	text-wrap: pretty;
	letter-spacing: -0.02em;
	font-variation-settings: "wght" 350, "SRFF" 0;
	position: relative;
	z-index: 1;
}
.home-header-reference {
	display: grid;
	grid-template-columns: 40px 1fr;
}
.home-header-reference-number {
	align-self: start;
	justify-self: start;
	padding-top: .25em;
	line-height: 1em;
	letter-spacing: unset;
	display: inline-flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: var(--black);
	font-size: 10px;
	font-variation-settings: "wght" 550, "SRFF" 0;
}
.home-header-reference-text a {
	color: var(--pink);
	text-decoration: unset;
	text-underline-offset: .2em;
	display: inline-block;
	margin-right: 2px;
	font-variation-settings: "wght" 400, "SRFF" 0;
}
.home-header-reference-text a:hover {
	color: var(--black);
}
.home-header-reference-text a:active {
	opacity: .5;
}
@media only screen and (max-width: 1200px) {
	.home-header {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.home-header-references {
		grid-column: span 1;
	}
}
@media only screen and (max-width: 1000px) {
	.home-header {
		grid-template-columns: 1fr 1fr;
	}
	.home-header-intro {
		grid-column: span 1;
		font-size: 18px;
	}
	.home-header-desc {
		letter-spacing: -0.03em;
		font-variation-settings: "wght" 300, "SRFF" 0;
	}
	.home-header-desc sup {
		font-variation-settings: "wght" 500, "SRFF" 0;
	}
	.home-header-cta {
		font-size: 14px;
		padding: .8em 1.2em;
		letter-spacing: -0.03em;
		font-variation-settings: "wght" 350, "SRFF" 0;
	}
	.home-header-references {
		grid-column: span 1;
		max-width: 400px;
	}
	.home-header-reference {
		grid-template-columns: 20px 1fr;
	}
	.home-header-reference-number {
		font-variation-settings: "wght" 500, "SRFF" 0;
	}
}
@media only screen and (max-width: 800px) {
	.home-header {
		grid-template-columns: 1fr;
	}
	.home-header-references {
		max-width: unset;
		border-top: .5px solid var(--gray);
		padding-top: var(--unit);
	}
}

/* Work grid */
.work {
	min-height: 100dvh;
	padding-bottom: calc(var(--unit) * 2);
}

/* Work nav */
.work-nav {
	position: fixed;
	left: 0;
	gap: 0;
	justify-content: space-between;
	display: flex;
	right: 0;
	bottom: 0;
	z-index: 9;
	transition: transform .2s;
	height: 40px;
	padding: 0 var(--unit);
	border-top: var(--border);
	background-color: var(--white);
}
.work-nav[data-active="0"] {
	transform: translateY(101%);
}
.work-nav::-webkit-scrollbar {
	display: none;
}
.work-nav-filters {
	padding: 0 20px 0 1px;
	display: flex;
	align-items: center;
	flex-grow: 1;
	overflow-x: scroll;
	gap: 20px;
}
.work-nav-filters::-webkit-scrollbar {
	display: none;
}
.work-nav-toggle {
	--primary: var(--black);
	line-height: 1em;
	letter-spacing: -0.02em;
	font-variation-settings: "wght" 350, "SRFF" 0;
	font-size: 14px;
	line-height: 1em;
	display: flex;
	gap: 10px;
	align-items: center;
	cursor: pointer;
	color: var(--primary);
}
.work-nav-toggle:hover {
	--primary: var(--pink);
}
.work-nav-toggle:active {
	--primary: var(--black);
}
.work-nav-toggle-bubble {
	flex-shrink: 0;
	width: 12px;
	height: 12px;
	outline: var(--border);
	background-color: var(--offwhite);
}
.work-nav-toggle:hover .work-nav-toggle-bubble {
	outline-color: var(--pink);
}
.work-nav-toggle:active .work-nav-toggle-bubble {
	outline-color: var(--black);
}
.work-nav-toggle[data-active="1"] .work-nav-toggle-bubble {
	background-color: var(--primary);
}
.work-nav-toggle-text {
	white-space: nowrap;
	padding-top: .2em;
}
@media only screen and (max-width: 800px) {
	.work-nav {
		left: 0;
		right: 0;
		bottom: 0;
		gap: 0;
		flex-wrap: wrap;
		padding: 0;
	}
	.work-nav-filters {
		border-radius: unset;
		padding: 0 20px;
	}
	.work-nav-toggle {
		font-size: 14px;
	}
}

/* Work items */
.work-items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	padding: var(--unit);
	padding-bottom: 0;
	gap: var(--unit);
}
.work-item {
	color: var(--black);
	text-decoration: none;
}
.work-item:hover {
	color: var(--pink);
}
.work-item:active {
	opacity: .5;
}
.work-item[data-active="0"] {
	display: none;
}
.work-item-media {
	aspect-ratio: 4/3;
	background-color: var(--offwhite);
	border: var(--border);
	position: relative;
	overflow: hidden;
}
.work-item-media > * {
	width: 100%;
}
.work-item:hover .work-item-media {
	border-color: var(--pink);
}
.work-item-info {
	padding-top: 10px;
	gap: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.work-item-info h2 {
	text-wrap: balance;
	font-size: 14px;
	letter-spacing: -0.02em;
	line-height: 1.2em;
	font-variation-settings: "wght" 650, "SRFF" 0;
}
.work-item[data-direct="1"] .work-item-info h2::after {
	content: " ↗";
}
.work-item-info p {
	text-wrap: pretty;
	font-size: 14px;
	letter-spacing: -0.02em;
	line-height: 1.2em;
	font-variation-settings: "wght" 350, "SRFF" 0;
}
.work-item-info ul {
	margin-top: 5px;
	display: flex;
	gap: 5px;
	list-style: none;
	flex-wrap: wrap;
	padding-right: 20px;
}
.work-item-info ul li {
	opacity: .5;
	white-space: nowrap;
	display: flex;
	gap: .5em;
	letter-spacing: .1em;
	text-transform: uppercase;
	align-items: center;
	line-height: 1em;
	word-spacing: -.05em;
	white-space: nowrap;
	font-variation-settings: "wght" 400, "SRFF" 0;
	font-size: 8px ;
	line-height: 1em;
}
@media only screen and (max-width: 1200px) {
	.work-items {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media only screen and (max-width: 1000px) {
	.work-items {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (max-width: 800px) {
	.work-items {
		grid-template-columns: 1fr;
		padding-top: calc(var(--unit) * 2);
		gap: calc(var(--unit) * 2);
		grid-auto-rows: auto;
	}
}
@media only screen and (max-width: 600px) {
	.work-item-info {
		grid-template-columns: 1fr;
		gap: 10px;
	}
}

/* Project */
.project {
	padding: var(--unit);
	display: grid;
	grid-template-columns: 320px 2fr;
	gap: calc(var(--unit) * 2);
	align-items: start;
}
.project-info {
	position: sticky;
	top: var(--unit);
	max-width: 400px;
}
.project-nav {
	display: flex;
	margin-bottom: 40px;
	gap: 5px 20px;
	font-size: 14px;
	flex-wrap: wrap;
	white-space: nowrap;
}
.project-nav-logo {
	color: var(--pink);
	text-decoration: none;
	font-variation-settings: "wght" 650, "SRFF" 0;
	letter-spacing: -.02em;
	background-color: unset;
	border: unset;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	line-height: inherit;
}
.project-nav-logo:hover {
	color: var(--black);
}
.project-nav-logo:active {
	opacity: .5;
}
.project-nav-links {
	display: flex;
	gap: 10px;
	font-size: 14px;
	flex-wrap: wrap;
	white-space: nowrap;
}
.project-nav-links a,
.project-nav-links button {
	cursor: pointer;
	color: var(--black);
	text-decoration: none;
	font-variation-settings: "wght" 350, "SRFF" 0;
	letter-spacing: -.02em;
	background-color: unset;
	border: unset;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
.project-nav-links a:hover,
.project-nav-links button:hover {
	color: var(--pink);
}
.project-nav-links a:active,
.project-nav-links button:active {
	opacity: .5;
}
.project-title {
	font-size: 24px;
	line-height: 1.2em;
	font-variation-settings: "wght" 550, "SRFF" 0;
	letter-spacing: -0.05em;
	text-wrap: balance;
}
.project-tagline {
	font-size: 24px;
	line-height: 1.2em;
	font-variation-settings: "wght" 250, "SRFF" 0;
	letter-spacing: -0.05em;
	text-wrap: pretty;
}
.project-desc {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 40px;
	font-size: 14px;
	line-height: 1.4em;
	text-wrap: pretty;
	letter-spacing: -0.02em;
	font-variation-settings: "wght" 350, "SRFF" 0;
}
.project-desc a {
	color: var(--pink);
	text-decoration: none;
}
.project-desc a::after {
	content: " ↗";
	margin-right: .1em;
}
.project-desc a:hover {
	color: var(--black);
}
.project-desc a:active {
	opacity: .5;
}
.project-links {
	margin-top: 40px;
	display: flex;
	white-space: nowrap;
	flex-wrap: wrap;
	gap: 10px;
}
.project-link {
	display: inline-flex;
	gap: .5em;
	color: var(--white);
	padding: .65em 1em .4em .9em;
	font-size: 14px;
	line-height: 1em;
	text-decoration: none;
	font-variation-settings: "wght" 450, "SRFF" 0;
	letter-spacing: -0.02em;
	outline: var(--border);
	background-color: var(--pink);
}
.project-link:hover {
	background-color: var(--black);
}
.project-link:active {
	opacity: .5;
}
.project-media {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--unit);
}
.project-media-item {
	display: grid;
	grid-template-columns: 1fr 160px;
	gap: 20px;
}
.project-media-item-content {
	position: relative;
	background-color: var(--offwhite);
	z-index: 9;
	border: var(--border);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.project-media-item-content iframe {
	width: 100%;
}
.project-media-item-caption {
	max-width: 640px;
	gap: 10px;
	font-size: 14px;
	line-height: 1.2em;
	letter-spacing: -0.02em;
	font-variation-settings: "wght" 350, "SRFF" 0;
	text-wrap: pretty;
	opacity: 1;
}
.project-list {
	margin-top: var(--unit);
	background-color: rgba(0,0,0,.05);
	border-top: var(--border);
	padding: var(--unit);
}
.project-list-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	/* grid-auto-rows: 1fr; */
	gap: var(--unit);
}
.project-list-link {
	color: var(--black);
	text-decoration: none;
	font-variation-settings: "wght" 350, "SRFF" 0;
	font-size: 14px;
	line-height: 1.2em;
	text-wrap: balance;
}
.project-list-link:hover {
	color: var(--pink);
}
.project-list-link:active {
	opacity: .5;
}
.project-list-link img {
	width: 100%;
	aspect-ratio: 4/3;
	border: var(--border);
}
.project-list-link:hover img {
	border-color: var(--pink);
}
.project-list-link p {
	display: none;
	flex-direction: column;
}
.project-list-link strong {
	font-variation-settings: "wght" 650, "SRFF" 0;
}
.project-list-link span {
	display: none;
}
@media only screen and (max-width: 1300px) {
	.project {
		gap: var(--unit);
	}
	.project-media-item {
		grid-template-columns: 1fr;
		gap: 10px;
	}
}
@media only screen and (max-width: 900px) {
	.project {
		grid-template-columns: 1fr;
	}
	.project-info {
		position: static;
	}
	.project-media {
		gap: var(--unit);
	}
}

/* Video controls */
.video-controls {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	transform: translateY(101%);
	backdrop-filter: blur(5px);
	transition: transform .2s;
	-webkit-backdrop-filter: blur(5px);
	outline: var(--border);
	background-color: rgba(255,255,255,.5);
}
.project-media-item-content:hover .video-controls {
	transform: translateY(0%);
}
.video-controls button {
	width: 20px;
	height: 20px;
	border: unset;
	background-color: unset;
	fill: var(--black);
	cursor: pointer;
	outline: var(--border);
}
.video-controls button svg {
	width: 20px;
	height: 20px;
}
.video-controls button div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.video-controls button:hover {
	background-color: rgba(255,255,255,.25);
	fill: var(--pink);
}
.video-controls button:active {
	opacity: .5;
}
.video-controls-toggle[data-playing="true"] .video-controls-toggle-play {
	display: none;
}
.video-controls-toggle[data-playing="false"] .video-controls-toggle-pause {
	display: none;
}
.video-controls-volume[data-muted="true"] .video-controls-volume-mute {
	display: none;
}
.video-controls-volume[data-muted="false"] .video-controls-volume-unmute {
	display: none;
}
.video-controls input {
	flex-grow: 1;
	-webkit-appearance: none;
	appearance: none;
	height: 20px;
	cursor: pointer;
	background-color: unset;
}
.video-controls input:hover {
	background-color: rgba(255,255,255,.25);
}
.video-controls input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
	background: var(--black);
	cursor: pointer;
	border-radius: 50%;
}
.video-controls input::-moz-range-thumb {
	width: 10px;
	height: 10px;
	background: var(--black);
	cursor: pointer;
	border-radius: 50%;
}
.video-controls input:hover::-webkit-slider-thumb {
	background-color: var(--pink);
}
.video-controls input:hover::-moz-range-thumb {
	background-color: var(--pink);
}

/* About */
.about {
	padding: var(--unit);
	display: flex;
	flex-direction: column;
	gap: var(--unit);
}
.about-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: var(--unit);
}
@media only screen and (max-width: 1200px) {
	.about-header {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (max-width: 800px) {
	.about-header {
		grid-template-columns: 1fr;
	}
}

/* About intro */
.about-intro {
	grid-column: span 2;
	padding-right: var(--unit);
	display: flex;
	flex-direction: column;
	max-width: 800px;
}
.about-intro-title {
	gap: 1.2em;
	font-size: 40px;
	line-height: 1.2em;
	letter-spacing: -0.07em;
	font-variation-settings: "wght" 150, "SRFF" 0;
	margin-bottom: min(var(--unit), 40px);
	flex-grow: 1;
	text-wrap: balance;
}
.about-intro-title-logo {
	text-decoration: none;
	font-variation-settings: "wght" 600, "SRFF" 0;
	color: var(--pink);
}
.about-intro-title-logo:hover {
	color: var(--black);
}
.about-intro-title-logo:active {
	opacity: .5;
}
.about-intro-desc {
	text-wrap: pretty;
	gap: 20px;
	font-size: 24px;
	line-height: 1.3em;
	letter-spacing: -0.05em;
	font-variation-settings: "wght" 250, "SRFF" 0;
	display: flex;
	flex-direction: column;
}
.about-intro-desc a {
	text-decoration: none;
	color: var(--pink);
	display: inline-block;
}
.about-intro-desc a::after {
	content: " ↗";
	margin-right: .2em;
}
.about-intro-desc a:hover {
	color: var(--black);
}
.about-intro-desc a:active {
	opacity: .5;
}
.about-intro-links {
	display: flex;
	gap: 10px;
	margin-top: 20px;
}
.about-intro-link {
	flex-shrink: 0;
	border: var(--border);
	background-color: var(--pink);
	padding: 10px 20px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-decoration: none;
	color: var(--white);
	line-height: 1em;
	letter-spacing: -0.03em;
	font-variation-settings: "wght" 300, "SRFF" 0;
}
.about-intro-link-alt {
	background-color: var(--offwhite);
	color: var(--black);
}
.about-intro-link-text {
	padding-top: .2em;
}
.about-intro-link:hover {
	color: var(--white);
	background-color: var(--black);
}
.about-intro-link:active {
	opacity: .5;
}
@media only screen and (max-width: 1200px) {
	.about-intro {
		grid-column: unset;
	}
}
@media only screen and (max-width: 600px) {
	.about-intro-title {
		font-size: 32px;
		font-variation-settings: "wght" 200, "SRFF" 0;
		letter-spacing: -0.05em;
	}
	.about-intro-desc {
		font-size: 18px;
		letter-spacing: -0.03em;
		font-variation-settings: "wght" 300, "SRFF" 0;
	}
	.about-intro-link {
		font-size: 14px;
		padding: .8em 1.2em;
		letter-spacing: -0.03em;
		font-variation-settings: "wght" 350, "SRFF" 0;
	}
}

/* About team */
.about-team {
	max-width: 800px;
	align-self: end;
}
.about-team-member {
	
}
.about-team-member-photo {
	max-width: 120px;
	border: var(--border);
}
.about-team-member-bio {
	margin-top: 25px;
}
.about-team-member-bio-name {
	font-size: 24px;
	line-height: 1.2em;
	font-variation-settings: "wght" 650, "SRFF" 0;
	letter-spacing: -0.02em;
	text-wrap: balance;
}
.about-team-member-bio-title {
	font-size: 24px;
	line-height: 1.2em;
	font-variation-settings: "wght" 350, "SRFF" 0;
	letter-spacing: -0.02em;
	text-wrap: balance;
}
.about-team-member-bio-desc {
	margin-top: 20px;
	font-size: 14px;
	font-variation-settings: "wght" 350, "SRFF" 0;
	letter-spacing: -0.02em;
	line-height: 1.2em;
	text-wrap: pretty;
	max-width: 480px;
}
.about-team-member-bio-desc a {
	text-decoration: none;
	color: var(--pink);
	margin-right: .1em;
}
.about-team-member-bio-desc a:hover {
	color: var(--black);
}
.about-team-member-bio-desc a:active {
	opacity: .5;
}
@media only screen and (max-width: 800px) {
	.about-team {
		border-top: .5px solid var(--gray);
		padding-top: var(--unit);
	}
}

/* About services */
.about-services {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: var(--unit);
	grid-auto-rows: 1fr;
}
.about-service-media {
	display: block;
	aspect-ratio: 4/3;
	border: var(--border);
	overflow: hidden;
	position: relative;
}
.about-service-media:hover {
	border-color: var(--pink);
}
.about-service-media:active {
	opacity: .5;
}
.about-service-media > * {
	width: 100%;
}
.about-service-info {
	padding-top: 10px;
	gap: 20px;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
}
.about-service-info-title {
	font-variation-settings: "wght" 650, "SRFF" 0;
	font-size: 14px;
	line-height: 1.2em;
	letter-spacing: -0.02em;
	text-wrap: balance;
}
.about-service-info-desc {
	font-size: 14px;
	font-variation-settings: "wght" 350, "SRFF" 0;
	letter-spacing: -0.02em;
	line-height: 1.2em;
	text-wrap: pretty;
}
.about-service-info-desc a {
	color: var(--pink);
	margin-right: .1em;
	text-decoration: none;
}
.about-service-info-desc a:hover {
	color: var(--black);
}
.about-service-info-desc a:active {
	opacity: .5;
}
@media only screen and (max-width: 1200px) {
	.about-services {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (max-width: 800px) {
	.about-services {
		grid-template-columns: 1fr;
		grid-auto-rows: unset;
	}
}
@media only screen and (max-width: 600px) {
	.about-service-info {
		grid-template-columns: 1fr;
		gap: 5px;
	}
}

/* Footer */
.footer {
	background-color: var(--offwhite);
	padding: var(--unit);
	font-variation-settings: "wght" 350, "SRFF" 0;
	display: flex;
	gap: var(--unit);
	align-items: center;
	border-top: var(--border);
}
.footer-clock {
	background-color: var(--white);
	width: 160px;
	height: 160px;
	border-radius: 50%;
	border: var(--border);
	position: relative;
}
.footer-clock-hand {
	width: 50%;
	right: 50%;
	height: .5px;
	position: absolute;
	top: 50%;
	transform-origin: 100%;
	transform: rotate(90deg);
	background-color: var(--black);
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.footer-clock-hand.hour-hand {
	width: 20%;
	z-index: 3;
}
.footer-clock-hand.min-hand {
	z-index: 10;
	width: 35%;
}
.footer-clock-hand.second-hand {
	width: 45%;
	background-color: var(--pink);
}
.footer-info {
	font-size: 14px;
	line-height: 1.2em;
	letter-spacing: -0.02em;
}
.footer-info strong {
	font-variation-settings: "wght" 650, "SRFF" 0;
}
.footer-info a {
	text-decoration: none;
	color: var(--pink);
}
.footer-info a:hover {
	color: var(--black);
}
.footer-info a:active {
	opacity: .5;
}
@media only screen and (max-width: 600px) {
	.footer {
		flex-direction: column;
		align-items: start;
	}
}